.all-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.all-inputs h4{
    margin: 5px;
    font-size: 0.8em;
    width: 100px;
}

.all-inputs input[type='number']{
    width: 50px;
    border: none;
}
.shadow-value{
    display: flex;
    flex-direction: column;
}